@charset "utf-8";

.contact {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 160px;
}
.contact_text {
  text-align: center;
  line-height: 1.87;
  padding-top: 70px;
}
.contact_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #b2bed4;
  padding-top: 47px;
}
.required {
  color: #fbcd1f;
}
#name,
#company,
#email,
#tel,
#msg {
  width: 560px;
  height: 55px;
  margin: 0 auto;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
}
#msg {
  height: 200px;
}
label {
  padding-bottom: 10px;
}
button {
  width: 195px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b2bed4;
  color: #002870;
  font-size: 14px;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  border: 0;
}

@media screen and (max-width: 767px) {
  .contact {
    padding-top: 80px;
  }
  .contact_text {
    padding-top: 28px;
    font-size: 14px;
    line-height: 1.64;
  }
  .contact_list {
    padding-top: 27px;
  }
  label {
    padding-bottom: 5px;
  }
  #name,
  #company,
  #email,
  #tel,
  #msg {
    width: 316px;
    height: 33px;
  }
  #msg {
    height: 100px;
  }
}
